{% extends 'threads/base.html' %}

{% block content %}
<h1>{{ thread.title }}</h1>
<p class="text-muted">{{ thread.pub_date }}</p>
<p class="text-muted">{{ thread.points }} points</p>
<p>{{ thread.text }}</p>

<form action="{% url 'threads:upvote' thread.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Give an upboat</button>
</form>

<form action="{% url 'threads:comment' thread.id %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="comment-text" class="form-label">Make a comment</label>
        <textarea class="form-control" name="comment-text" id="comment-text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1>Comments</h1>
{% if comments.count > 0 %}

<ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item">
        <p>{{ comment.text }}</p>
        <p class="text-muted">{{ comment.pub_date }}</p>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No comments were made on this thread.</p>
{% endif %}

{% endblock %}