{% extends 'threads/base.html' %}

{% block content %}

<div class="container my-3">
    <h2>Recent Threads</h2>
    <div class="list-group list-group-flush">
        {% for thread in recent_threads %}
        <li class="list-group-item">
            <a class="text-decoration-none text-reset" href="{% url 'threads:detail' thread.id %}">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-1">{{ thread.title }}</h5>
                    <div class="d-flex">
                        <span class="badge bg-primary rounded-pill mx-3">{{ thread.upvote_set.count }} upboat{{ thread.upvote_set.count|pluralize }}</span>
                        <span class="badge bg-primary rounded-pill">{{ thread.comment_set.count }} comment{{ thread.comment_set.count|pluralize }}</span>
                    </div>
                </div>
                <p class="mb-1 text-truncate">{{ thread.text }}</p>
                <small>by <a class="text-decoration-none" href="{% url 'profiles:profile' thread.creator.id %}">{{ thread.creator.username }}</a> in {{ thread.pub_date }}</small>
            </a>
        </li>
        {% endfor %}
    </div>
</div>

<div class="container my-3">
    <h2>Popular Threads</h2>
    <div class="list-group list-group-flush">
        {% for thread in popular_threads %}
        <li class="list-group-item">
            <a class="text-decoration-none text-reset" href="{% url 'threads:detail' thread.id %}">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-1">{{ thread.title }}</h5>
                    <div class="d-flex">
                        <span class="badge bg-primary rounded-pill mx-3">{{ thread.upvote_set.count }} upboat{{ thread.upvote_set.count|pluralize }}</span>
                        <span class="badge bg-primary rounded-pill">{{ thread.comment_set.count }} comment{{ thread.comment_set.count|pluralize }}</span>
                    </div>
                </div>
                <p class="mb-1 text-truncate">{{ thread.text }}</p>
                <small>by <a class="text-decoration-none" href="{% url 'profiles:profile' thread.creator.id %}">{{ thread.creator.username }}</a> in {{ thread.pub_date }}</small>
            </a>
        </li>
        {% endfor %}
    </div>
</div>

{% endblock %}