{% extends 'threads/base.html' %}

{% block content %}
<h1>Recent Threads</h1>

<div class="list-group list-group-flush">
    {% for thread in recent_threads %}
    <li class="list-group-item">
        <a href="{% url 'threads:detail' thread.id %}">{{ thread.title }}</a>
        <span class="badge bg-primary rounded-pill">{{ thread.points }} points</span>
        <span class="badge bg-primary rounded-pill">{{ thread.comment_set.count }} comments</span>
    </li>
    {% endfor %}
</div>

<h1>Popular Threads</h1>

<div class="list-group list-group-flush">
    {% for thread in popular_threads %}
    <li class="list-group-item">
        <a href="{% url 'threads:detail' thread.id %}">{{ thread.title }}</a>
        <span class="badge bg-primary rounded-pill">{{ thread.points }} points</span>
        <span class="badge bg-primary rounded-pill">{{ thread.comment_set.count }} comments</span>
    </li>
    {% endfor %}
</div>

{% endblock %}